* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #3c3c3c;
}
html, body {
    height: 100%;
}
#canvas {
    width: 100%;
    height: 100%;
}

.controls {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.controls > * {
    flex-grow: 1;
}
